<footer class="footer">
  <div class="wrapper">
	  <div class="footer-grid">
	  	<div class="main">auto.market</div>
	  	<div class="social">
	  		<img class="facebook" src="assets/icon/facebook.svg">
				<img class="instagram" src="assets/icon/instagram.svg">
				<img class="twitter" src="assets/icon/twitter.svg">
	  	</div>
	  </div>
	  <div class="footer-grid">
	  	<p>{{ 'Home' | translate }}</p>
	  	<p>{{ 'Sell' | translate }}</p>
	  	<p>{{ 'Buy' | translate }}</p>
	  	<p>Dealers</p>
	  </div>
	  <div class="footer-grid">
	  	<p>Trems of Use</p>
	  	<p>Privacy Policy</p>
	  	<p>Cookie Policy</p>
	  	<p>AdChoice</p>
	  </div>
	  <div class="footer-grid">
	  	<p>Contact Us</p>
	  	<p>Careers</p>
	  	<p>Help</p>
	  	<p>FAQ</p>
	  </div>
	  <div>
	  	<img class="play_store" src="assets/images/image005.png">
	  	<img class="play_store" src="assets/images/image004.png">
	  	<select id="language" name="class_logo" required (change)="modo($event.target.value)">
			  <option value="en">🇨🇦&emsp;English</option>
			  <option value="fr">🇫🇷&emsp;French</option>
			  <option value="ar">🇩🇿&emsp;Arabic</option>
			</select>
	  </div>
	</div>
	<p class="rights">© auto.market / 2000 - 2020. All rights reserved</p>
</footer>